@import './styles/utils.scss';

.SassComponent {
  display: flex;
  .box {
    background: red;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &.red {
      // className이 box red 인 경우
      background: $red;
      @include square(1);
    }

    &.orange {
      // className이 box orange 인 경우
      background: $orange;
      @include square(2);
    }

    &.yellow {
      // className이 box yellow 인 경우
      background: $yellow;
      @include square(3);
    }

    &.green {
      // className이 box green 인 경우
      background: $green;
      @include square(4);
    }

    &.blue {
      // className이 box blue 인 경우
      background: $blue;
      @include square(5);
    }

    &.indigo {
      // className이 box indigo 인 경우
      background: $indigo;
      @include square(6);
    }

    &.violet {
      // className이 box violet 인 경우
      background: $violet;
      @include square(7);
    }
    &:hover {
      background: black;
    }
  }
}
